/* adjust heading details to different colors, font, etc */
h1 {
text-align: center;
font-family: 'Courier New', Courier, monospace;
color: black;
font-size: 48px;
letter-spacing: 10px;
text-transform: uppercase;
}
/* adjust image details */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border: solid;
  border-width: 10px;
}
/* set link color */
a {
  color: darkgreen
}

nav {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

body {
background-image: url('background.jpg');
background-repeat: no-repeat;
background-size: cover;
}
/* make all horizontal line breaks solid black by using a border */
hr {
  border: solid;
}
/*allign everything to the center of the page*/
p {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

li {
  text-align: center;
}

h4 {
  text-align: center;
}
